@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=latin-ext");
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  background: #fff;
}

img {
  width: 100%;
}

section {
  position: relative;
}

.hidden {
  display: none !important;
}

.overflowhidden {
  overflow: hidden;
}

.bolded {
  font-weight: 700 !important;
}

button:focus {
  outline: none !important;
}

button:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  padding: 7px 20px 8px 13px;
  height: 50px;
  background: #24345c;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: unset !important;
  right: unset !important;
  margin: 0 !important;
  border: 5px solid #f8f8f8;
  border-radius: 50%;
  border-top: 5px solid #50e3b3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loaderwrap {
  display: inline-block;
  position: fixed;
  z-index: 999999999999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #24345c;
  background-image: url("../static/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 44%;
}

#indexpage #header.darkblue {
  top: 0;
  background: #24345c;
}

.chooseanimate {
  transform: translate3d(0, 100%, 0);
  transition: all ease 0.6s !important;
}

.chooseanimate.slideup {
  transform: translate3d(0, 0, 0);
}

.headinginputcontent {
  display: none;
}

.logoholder {
  display: inline-block;
  width: 145px;
  height: 35px;
}

.hamburger {
  display: inline-block;
  width: 23px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 4px;
}

.hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 4px;
  bottom: -2px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 100vw;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background: #24345c;
  color: #ffffff;
  flex-direction: column;
  -webkit-transform: translate3d(100vw, 0, 0);
  -moz-transform: translate3d(100vw, 0, 0);
  -o-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
  will-change: transform;
  transition: all ease 0.5s;
}

.nav.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navmenu {
  display: inline-block;
  margin-top: -160px;
}

.navmenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li a:hover {
  color: #50e3b3 !important;
}

.login:hover {
  color: #50e3b3 !important;
}

.navmenu li {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.navmenu ul li a {
  color: white;
  text-decoration: none;
  padding: 20px 0 !important;
  display: inline-block;
  width: 100%;
  font-size: 22px;
}

.listyourp {
  margin-top: 60px;
  margin-bottom: -100px;
}

.listyourp button {
  -webkit-appearance: none;
  background: none;
  border: 2px solid #50e3b3;
  border-radius: 30px;
  color: white;
  padding: 13px 39px;
  font-size: 18px;
}

.rightpanel {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.favorite {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.favorite .loginiconholder {
  margin-top: 4px;
  margin-right: 15px;
  margin-left: unset;
}

.useraccount {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.loginiconholder {
  margin-top: 4px;
  margin-left: 15px;
  cursor: pointer;
}

.lingua {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.flagarrowholder {
  margin-bottom: 4px;
  margin-left: 15px;
}

.lingua ul {
  display: none;
  padding: 0;
  list-style: none;
  background: white;
  position: absolute;
  top: 50px;
  color: #333;
  margin: 0;
  border-radius: 4px;
  right: 5px;
}

.lingua ul li {
  display: flex;
  padding: 10px 15px 10px 10px;
}

.lingua ul li:hover {
  background: #f6f6f6;
}

.lingua ul .flagiconholder {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100px;
  height: 30px;
}

.lingua ul .flagiconholder img {
  margin-right: 10px;
  width: 30px;
}

#firstsection {
  margin-top: 50px;
  position: relative;
}

.sliderphoto {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 50px);
  background: url("../dist/img/slider_photo_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sliderholder {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 50px);
}

.gradientback {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67843) 100%);
  opacity: 0.36;
}

.headinginputcontent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.mainheading {
  text-align: center;
}

.mainheading h1 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 100;
  margin-top: 80px;
  margin-bottom: 70px;
}

.inputsholder {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3px 25px;
}

.inputsholder input {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 4px 60px 4px 10px;
  height: 56px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.inputsholder input:focus {
  outline: none !important;
}

#locselect {
  background: url("../static/svg/pin.svg") white;
  background-position-y: center;
  background-position-x: calc(100% - 20px);
  background-size: 18px;
  background-repeat: no-repeat;
}

#propertyselect {
  background: url("../static/svg/arrow.svg") white;
  background-position-y: center;
  background-position-x: calc(100% - 22px);
  background-size: 15px;
  background-repeat: no-repeat;
}

.divtypes {
  position: relative;
}

.divtypes ul {
  z-index: 2;
  display: inline-block;
  padding: 0;
  list-style: none;
  background: white;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 43px;
  left: 0;
  border-radius: 4px;
  font-family: 'source sans pro';
}

.divtypes li {
  padding: 15px;
  cursor: pointer;
}

.divtypes li:hover {
  background: #50e3b3;
  color: #ffffff;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  -webkit-appearance: none;
  border: none;
  background: #50e3b3;
  border-radius: 4px;
  padding: 4px 10px;
  height: 56px;
  width: 100%;
  margin-bottom: 10px;
  color: #ffffff;
}

.search-icon {
  display: inline-block;
  height: 26px;
  width: 23px;
  background: url("../static/svg/search.svg");
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  margin-right: 15px;
}

#bannerone {
  display: inline-block;
  width: 300px;
  height: 50px;
}

#secondsection {
  min-height: 500px;
  background: url("../dist/img/blue_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bluescreen {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(24, 37, 69, 0.89);
}

.secondcontentdiv {
  display: inline-block;
  z-index: 3;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  padding: 80px 25px;
  text-align: center;
}

.secondcontentdiv h2 {
  font-size: 18px;
  font-weight: 100;
  width: 100%;
  text-align: left;
}

.secondcontentdiv p {
  font-weight: 100 !important;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}

.secondcontentdiv .lightgreen-btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-appearance: none;
  border: none;
  background: #50e3b3;
  border-radius: 30px;
  padding: 16px 10px;
  height: 56px;
  width: 100%;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 40px;
  max-width: 300px;
}

#thirdsection {
  padding: 70px 25px;
}

#bannertwo {
  width: 300px;
  height: 250px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.thirdsectiondiv {
  margin-top: 75px;
}

.thirdsectiondiv .textdiv {
  text-align: center;
}

.thirdsectiondiv h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.thirdsectiondiv h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.thirdsectiondiv p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.6;
  text-align: left;
}

.thirdsectiondiv button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-appearance: none;
  border: none;
  background: #24345c;
  border-radius: 30px;
  padding: 18px 10px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 70px;
  max-width: 300px;
}

#footer {
  background: #24345c;
  color: #ffffff;
  padding: 0;
}

#footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

#footer ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
}

#footer button {
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  background: none;
  border: 2px solid #50e3b3;
  border-radius: 30px;
  color: white;
  padding: 8px 21px;
  font-size: 14px;
}

.footercontentone {
  padding: 30px 35px 0;
}

.footercontenttwo {
  padding: 0 35px 40px;
  border-bottom: 1px solid #4b5879;
}

.footercontentthree {
  padding: 40px 35px 30px;
  border-bottom: 1px solid #4b5879;
}

.footercontentthree h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
}

.footercontentthree .loginiconholder {
  width: 14px;
  display: inline-block;
  margin: 0 10px 0 0;
  float: left;
}

.footercontentthree .footeraddress {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.footercontentthree p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.footercontentthree p:first-child {
  margin-bottom: 10px;
}

.footercontentfour {
  padding: 30px 0;
}

.footercontentfour p {
  display: none;
  margin: 0;
}

.footercontentfive {
  display: flex;
}

.socialiconholder {
  margin-right: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.socialiconholder:hover path {
  fill: #50e3b3;
}

.socialiconholder:hover circle {
  stroke: #50e3b3;
}

.footercontentsix {
  padding: 30px 35px;
  border-bottom: 1px solid #4b5879;
}

.footercontentsix p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
}

.footercontentsix p:first-child {
  margin-bottom: 10px;
}

.footercontentseven {
  padding: 15px 35px 20px;
}

.footercontentseven p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0;
}

#desktop-pricing {
  display: none;
}

#pricing {
  background: #f6f6f6;
}

#firstpricesection {
  margin: 50px auto;
  padding-top: 50px !important;
}

#pricing section {
  padding: 0 15px;
}

.chooseyourplan {
  display: inline-block;
}

.chooseheading {
  text-align: center;
  font-size: 21px;
  font-weight: 100;
}

.chooseanimate {
  text-align: center;
  border-bottom: 1px solid;
  margin-top: 30px;
}

.chooseanimate img {
  width: 90%;
  margin: 0 auto -5px;
}

#firstpricesection p {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.6;
}

#secondpricesection {
  padding: 0 30px !important;
}

#thirdpricesection {
  padding: 30px;
}

#thirdpricesection h3 {
  font-size: 18px;
  font-weight: 400;
}

#thirdpricesection p {
  line-height: 1.6;
  font-size: 14px;
  font-weight: 100;
}

.whiteprop {
  display: flex;
  width: 100%;
  align-items: center;
}

.whiteprop p {
  display: inline-block;
}

.switchbutton {
  margin-left: auto;
}

.savethirty {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffcd81;
}

.greyborderdivwrap {
  display: inline-block;
  width: 100%;
  border: 1px solid #d5d5d5;
}

.greyborderdiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 0.5px solid #d5d5d5;
  position: relative;
}

.greyborderdiv:last-child {
  border-bottom: none !important;
}

.greencheck,
.greyex {
  display: inline-block;
  height: 20px;
}

.greenprop,
.lightpeachprop,
.peachprop {
  display: inline-block;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 3px;
  color: white;
  text-align: center;
  line-height: 1.6;
}

.greenprop {
  background: #50e3b3;
}

.lightpeachprop {
  background: #ffcd81;
}

.peachprop {
  background: #ffb74a;
}

.propheading {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.infoiconholder {
  display: inline-block;
  width: 17px;
  margin-right: 5px;
}

.propunit {
  font-size: 15px;
  margin-bottom: 10px;
}

.oldprice {
  font-size: 16px;
  color: #474648;
  text-decoration: line-through;
  font-weight: 500;
}

.newprice {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.buybtnholder {
  display: inline-block;
  width: 100%;
}

.buybtnholder button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  border-radius: 30px;
  padding: 18px 10px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

.greenprop-btn {
  background: #50e3b3;
}

.lightpeachprop-btn {
  background: #ffcd81;
}

.peachprop-btn {
  background: #ffb74a;
}

.greenpricemob,
.lightpeachpricemob,
.peachpricemob {
  margin-bottom: 30px;
}

.watchlink {
  display: flex;
  border: 1px solid #6d7893;
  border-radius: 320px;
  padding: 12px 30px;
  align-items: center;
  width: max-content;
  margin: 30px auto 40px;
  position: relative;
}

.playholder {
  display: flex;
  height: 40px;
  width: 40px;
  border: 1px solid #6d7893;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
  position: absolute;
  left: 15px;
}

.playholder img {
  width: 100%;
  height: 100%;
  margin-left: 3px;
}

.watchourvid {
  display: inline-block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7893;
  margin-left: 40px;
}

.navmenu ul li a::after {
  content: '';
  display: none;
  width: 18px !important;
  height: 25px !important;
  right: 33px !important;
  background: url("../static/svg/green-arrow.svg") !important;
  background-repeat: no-repeat !important;
  transform: rotate(-90deg) !important;
  background-size: contain !important;
  background-position: center !important;
}

.slick-dots li button:before {
  color: #ffffff !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #50e3b3 !important;
}

.slick-dots {
  position: relative !important;
  bottom: 0 !important;
  display: inline-block !important;
  width: 100% !important;
  padding: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  text-align: center !important;
  margin-block-start: unset !important;
  margin-block-end: unset !important;
  padding-inline-start: unset !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderck {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderck:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #c2f5e5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #50e3b3;
}

input:checked + .sliderck {
  background-color: #ffffff;
}

input:focus + .sliderck {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderck:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.sliderck.round {
  border-radius: 34px;
  border: 1px solid #b5e4d5;
}

.sliderck.round:before {
  border-radius: 50%;
}

.perfect {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  #indexpage #header {
    display: flex;
    position: fixed;
    top: 25px;
    left: unset;
    width: 100vw;
    z-index: 99;
    padding: 8px 20px 8px 35px;
    height: auto;
    background: transparent;
    max-width: 1440px;
    margin: 0 auto;
    transition: all ease 0.3s;
    will-change: top;
  }

  #pricing #header {
    display: flex;
    position: fixed;
    top: 0;
    left: unset;
    width: 100vw;
    z-index: 99;
    padding: 11px 20px 8px 15px;
    height: auto;
    background: #24345c;
    max-width: 1440px;
    margin: 0 auto;
    transition: all ease 0.3s;
    will-change: top;
  }

  .perfect {
    z-index: 9999999;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    width: 1440px;
    margin: 0 auto;
  }

  #indexpage .perfect {
    background: url("../img/Homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 2680px;
  }

  #pricing .perfect {
    background: url("../dist/img/Pricing_strana.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 2120px;
  }

  #firstsection {
    margin-top: 0;
  }

  .gradientback {
    display: inline-block;
  }

  .nav {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    background: none;
    color: #ffffff;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    will-change: unset;
    transition: none;
    flex-direction: row;
    justify-content: space-between;
  }

  .navmenu {
    margin-top: unset;
    display: inline-block;
    width: auto;
    float: left;
    margin-top: unset;
    margin-left: 42px;
  }

  .navmenu ul {
    display: inline-block;
    align-items: unset;
    justify-content: unset;
    flex-direction: unset;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navmenu li {
    width: auto;
  }

  .navmenu ul li a {
    color: white;
    text-decoration: none;
    padding: 0 !important;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
  }

  .navmenu ul li:first-child a {
    padding-right: 22px !important;
  }

  .navmenu ul li:nth-child(2) a {
    padding-right: 44px !important;
  }

  .listyourp {
    margin: 0 !important;
    display: inline-block;
    margin-left: 29px !important;
  }

  .rightpanel {
    position: relative;
    width: max-content;
    top: unset;
    right: unset;
    left: unset;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    float: right;
    margin-right: 4px;
  }

  .listyourp button {
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 12px 20px 10px 25px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-top: -4px;
  }

  .logoholder {
    display: inline-block;
    width: 222px;
    height: max-content;
  }

  .login {
    display: flex;
    align-items: center;
    margin-right: 42px;
    cursor: pointer;
  }

  .loginiconholder {
    margin-top: 3px;
    margin-left: 7px;
  }

  .flagarrowholder {
    margin-bottom: 4px;
    margin-left: 4px;
  }

  .flagiconholder {
    margin-top: 1px;
  }

  #pricing .nav {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    background: none;
    color: #ffffff;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    will-change: unset;
    transition: none;
    flex-direction: row;
    justify-content: space-between;
  }

  #pricing .navmenu {
    margin-top: unset;
    display: inline-block;
    width: auto;
    float: left;
    margin-top: unset;
    margin-left: 61px;
  }

  #pricing .navmenu ul {
    display: inline-block;
    align-items: unset;
    justify-content: unset;
    flex-direction: unset;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #pricing .navmenu li {
    width: auto;
  }

  #pricing .navmenu ul li a {
    color: white;
    text-decoration: none;
    padding: 0 !important;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
  }

  #pricing .navmenu ul li:first-child a {
    padding-right: 22px !important;
  }

  #pricing .navmenu ul li:nth-child(2) a {
    padding-right: 44px !important;
  }

  #pricing .listyourp {
    margin: 0 !important;
    display: inline-block;
    margin-left: 62px !important;
  }

  #pricing .rightpanel {
    position: relative;
    width: max-content;
    top: unset;
    right: unset;
    left: unset;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    float: right;
    margin-right: 4px;
  }

  #pricing .listyourp button {
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 12px 20px 10px 25px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-top: -4px;
  }

  #pricing .favorite {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  #pricing .favorite .loginiconholder {
    margin-top: 3px;
    margin-right: 10px;
    margin-left: unset;
  }

  #pricing .useraccount {
    display: flex;
    align-items: center;
    margin-right: 37px;
  }

  #pricing .logoholder {
    display: inline-block;
    width: 222px;
    height: max-content;
  }

  #pricing .login {
    display: flex;
    align-items: center;
    margin-right: 42px;
  }

  #pricing .loginiconholder {
    margin-top: 3px;
    margin-left: 7px;
  }

  #pricing .flagarrowholder {
    margin-bottom: 4px;
    margin-left: 4px;
  }

  #pricing .flagiconholder {
    margin-top: 1px;
  }

  .sliderholder {
    height: 780px;
  }

  .sliderphoto {
    height: 780px;
    background-position: unset;
    background-position-x: center;
  }

  .mainheading h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 100;
    margin-top: 278px;
    margin-bottom: 113px;
    line-height: 1.2;
    margin-left: -16px;
    letter-spacing: 0.5px;
  }

  .inputsholder {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    padding: 3px 0;
    margin-bottom: 0px;
  }

  .blockdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #locselect {
    background: url("../static/svg/pin.svg") white;
    background-position-y: center;
    background-position-x: calc(100% - 22px);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 438px;
    display: inline-block;
    float: left;
    margin-right: 7px;
    margin-left: 2px;
    padding: 4px 21px 2px 19px;
  }

  .divtypes {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 7px;
  }

  #propertyselect {
    background: url("../static/svg/arrow.svg") white;
    background-position-y: center;
    background-position-x: calc(100% - 12px);
    background-size: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 218px;
    padding: 6px 12px 2px !important;
  }

  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    -webkit-appearance: none;
    border: none;
    background: #50e3b3;
    border-radius: 4px;
    padding: 11px 18px 5px 0px;
    height: 56px;
    width: 175px;
    margin-bottom: 10px;
    color: #ffffff;
    float: left;
  }

  .search-icon {
    display: inline-block;
    height: 26px;
    width: 23px;
    background: url("../static/svg/search.svg");
    background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top: -2px;
  }

  .headinginputcontent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mainheading {
    text-align: center;
    display: inline-block;
  }

  #bannerone {
    display: inline-block;
    width: 728px;
    height: 90px;
    margin-top: 55px;
    margin-bottom: 0px;
  }

  .slick-dots {
    bottom: -27px !important;
  }

  .slick-dots li button:before {
    font-size: 10px !important;
  }

  .slick-next {
    right: 33px !important;
    background: url("../static/svg/white-arrow.svg") !important;
    background-repeat: no-repeat !important;
    transform: rotate(-90deg) !important;
    background-size: contain !important;
    background-position: center !important;
  }

  .slick-next:before {
    content: '' !important;
  }

  .slick-prev {
    left: 37px !important;
    background: url("../static/svg/white-arrow.svg") !important;
    background-repeat: no-repeat !important;
    transform: rotate(90deg) !important;
    background-size: contain !important;
    background-position: center !important;
  }

  .slick-prev:before {
    content: '' !important;
  }

  .slick-prev,
  .slick-next {
    font-size: 0 !important;
    line-height: 0 !important;
    position: absolute !important;
    top: calc(50% + 27px) !important;
    display: block !important;
    width: 23px !important;
    height: 25px !important;
  }

  .secondcontentdiv {
    display: inline-block;
    z-index: 3;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: 188px 295px 188px 291px;
    text-align: center;
  }

  .secondcontentdiv h2 {
    font-size: 40px;
    font-weight: 100;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
    letter-spacing: -0.7px;
    line-height: 1.15;
  }

  .secondcontentdiv p {
    font-weight: 100 !important;
    font-size: 21px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.65px;
  }

  .secondcontentdiv .lightgreen-btn {
    margin-top: -10px;
    max-width: 290px;
    float: left;
  }

  #secondsection {
    background-position-x: center;
    background-position-y: -67px;
  }

  #thirdsection {
    padding: 90px 125px;
  }

  #bannertwo {
    width: 970px;
    height: 250px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }

  .thirdsectiondiv {
    margin-top: 65px;
    display: flex;
  }

  .thirdsectiondiv .textdiv {
    text-align: left;
    width: 50%;
  }

  .thirdsectiondiv h2 {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 23px;
  }

  .thirdsectiondiv h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 25px;
  }

  .thirdsectiondiv p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    line-height: 1.6;
    text-align: left;
  }

  .thirdsectiondiv button {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 30px;
    max-width: 290px;
    text-indent: -7px;
  }

  .photodiv {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    margin-left: 0px;
    position: absolute;
    right: 20px;
    padding: 56px 70px;
  }

  .footercontentone,
  .footercontenttwo,
  .footercontentthree,
  .footercontentfour,
  .footercontentfive,
  .footercontentsix,
  .footercontentseven {
    display: inline-block;
    float: left;
    padding: 0px 50px 5px 30px;
  }

  #footer {
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 30px 40px;
    padding-bottom: 0;
    position: relative;
  }

  #footer ul li a {
    padding: 8px 0;
  }

  .footercontentone {
    padding-right: 40px !important;
    padding-left: 50px !important;
    padding-bottom: 20px !important;
    border-right: 1px solid #4b5879 !important;
    border-bottom: none;
  }

  .footercontenttwo {
    border-right: 1px solid #4b5879;
    border-bottom: none;
    padding-right: 120px !important;
    padding-bottom: 55px !important;
  }

  .footercontentthree {
    padding-top: 10px;
    padding-left: 48px;
    border-right: 1px solid #4b5879;
    border-bottom: none;
    padding-right: 42px;
    padding-bottom: 20px;
  }

  .footercontentthree h3 {
    margin-bottom: 4px;
  }

  .footercontentthree .footeraddress {
    margin-bottom: 15px;
  }

  .footercontentthree p {
    letter-spacing: -0.5px;
  }

  .footercontentfour {
    padding-top: 20px !important;
    padding-left: 60px !important;
  }

  .footercontentfour p {
    display: block;
    margin: 0;
    width: 170px;
    font-size: 12px;
    margin-bottom: 22px;
  }

  #footer button {
    font-family: "Montserrat", sans-serif;
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 8px 21px;
    font-size: 14px;
    margin-left: -12px;
  }

  .footercontentfive {
    display: flex !important;
    float: right !important;
    padding: 10px 65px;
  }

  .footercontentsix {
    border-bottom: none;
    border-top: 1px solid #4b5879;
    border-bottom: none;
    width: calc(100% + 70px);
    padding-top: 15px;
    padding-left: 85px;
    margin-top: 35px;
    margin-left: -35px;
  }

  .footercontentsix p {
    display: inline-block;
  }

  .footercontentsix p:first-child {
    margin-right: 50px;
  }

  .footercontentseven {
    position: absolute;
    bottom: 10px;
    right: 62px;
    letter-spacing: 1px;
  }

  #firstpricesection {
    margin: 50px auto 48px;
    padding-top: 64px !important;
  }

  .chooseyourplan {
    width: calc(100% - 330px);
    border-bottom: 2px solid;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 143px;
    overflow: hidden;
    margin-bottom: 45px;
  }

  .chooseheading {
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    display: inline-block;
    font-size: 38px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    letter-spacing: -1px;
  }

  .chooseanimate {
    text-align: center;
    border-bottom: none;
    margin-top: 30px;
    display: inline-block;
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0px;
  }

  #firstpricesection p {
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    line-height: 1.6;
    max-width: 650px;
    margin: 0 auto;
  }

  #secondpricesection {
    padding: 0 60px !important;
    margin-bottom: 100px;
  }

  #desktop-pricing tr th {
    width: 25%;
  }

  #desktop-pricing .colorheadgreen {
    background: #50e3b3;
    color: #ffffff;
    padding-bottom: 22px;
  }

  #desktop-pricing .colorheadlightp {
    background: #ffcd81;
    color: #ffffff;
    padding-bottom: 22px;
  }

  #desktop-pricing .colorheadpeach {
    background: #ffb74a;
    color: #ffffff;
    padding-bottom: 22px;
  }

  #desktop-pricing .colorheadwhite {
    padding-bottom: 22px;
  }

  #desktop-pricing .greenprop,
  #desktop-pricing .lightpeachprop,
  #desktop-pricing .peachprop {
    display: inline-block;
    width: 100%;
    padding: 20px 0px 0;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
  }

  #desktop-pricing .infoiconholder {
    display: inline-block;
    width: 22px;
    margin-right: -80px;
    float: left;
    oat: left;
    margin-left: 20px;
  }

  #desktop-pricing .propunit {
    font-size: 20px;
    margin-bottom: 22px;
  }

  #desktop-pricing .oldprice {
    font-size: 22px;
    color: #474648;
    text-decoration: line-through;
    font-weight: 500;
    margin-left: 18px;
  }

  #desktop-pricing .newprice {
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
    color: white;
  }

  #desktop-pricing .whiteprop {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  #desktop-pricing .switchbutton {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: unset;
  }

  #desktop-pricing .whiteprop p {
    display: inline-block;
    font-weight: 100;
    font-size: 19px;
    transition: all ease 0.5s;
  }

  #desktop-pricing .savethirty {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #ffcd81;
  }

  #desktop-pricing .noborderrow {
    outline: none !important;
  }

  #desktop-pricing .noborderrow td {
    border: none !important;
    padding: 26px;
    padding-right: 30px;
    padding-left: 30px;
  }

  #desktop-pricing .noborderrow td button {
    padding: 0;
  }

  #desktop-pricing tr {
    outline: 1px solid #d5d5d5;
  }

  #desktop-pricing tr td {
    border-right: 0.5px solid #d5d5d5;
    position: relative;
    padding: 34px 36px;
    line-height: 20px;
    padding-top: 20px;
  }

  #desktop-pricing tr td:last-child {
    border: none;
  }

  #desktop-pricing .greyinfoicon {
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 59%;
    transform: translateY(-50%);
  }

  #desktop-pricing .greenpricebuy,
  #desktop-pricing .lightpeachpricebuy,
  #desktop-pricing .peachpricebuy {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  #desktop-pricing .greenpricebuy {
    color: #50e3b3;
  }

  #desktop-pricing .lightpeachpricebuy {
    color: #ffcd81;
  }

  #desktop-pricing .peachpricebuy {
    color: #ffb74a;
  }

  #desktop-pricing .buybtnholder button {
    padding: 0 !important;
  }

  #thirdpricesection {
    padding: 7px 180px 150px !important;
  }

  .lastdiv {
    display: flex;
  }

  .seehowitw {
    display: inline-block;
    width: 70%;
  }

  .watchlink {
    display: flex;
    border: 1px solid #6d7893;
    border-radius: 320px;
    padding: 12px 30px;
    align-items: center;
    width: max-content;
    margin: 103px 25px 60px auto;
    position: relative;
    cursor: pointer;
  }

  .watchlink:hover {
    background: #ffffff;
  }

  #thirdpricesection h3 {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  #thirdpricesection p {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
  }

  .headinginputcontent {
    display: none;
  }
}

@media (min-width: 992px) {
  #mobile-pricing {
    display: none;
  }

  #desktop-pricing {
    display: table;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  #pricing .logoholder {
    width: 190px;
  }

  #pricing .navmenu {
    margin-left: 40px;
  }

  #pricing .navmenu ul li a {
    font-size: 16px;
  }

  #pricing .listyourp {
    position: absolute;
    top: 75px;
    right: 0;
  }

  #pricing .listyourp button {
    background: #50e3b3;
  }

  #indexpage .logoholder {
    width: 190px;
  }

  #indexpage .navmenu {
    margin-left: 40px;
  }

  #indexpage .navmenu ul li a {
    font-size: 16px;
  }

  #indexpage .listyourp {
    position: absolute;
    top: 75px;
    right: 0;
  }

  #indexpage .listyourp button {
    background: #50e3b3;
  }

  .chooseheading {
    font-size: 28px;
  }

  .chooseyourplan {
    width: calc(100% - 150px);
  }

  .lastdiv {
    flex-direction: column;
  }

  .seehowitw {
    width: 100%;
  }

  .watchlink {
    margin: 30px auto 0;
  }

  #desktop-pricing .greenprop,
  #desktop-pricing .lightpeachprop,
  #desktop-pricing .peachprop {
    font-size: 17px;
  }

  #desktop-pricing .propunit {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1350px) {
  #desktop-pricing .infoiconholder {
    display: inline-block;
    width: 140px;
    position: absolute;
    opacity: 0.25;
    left: 0;
    margin: 0;
    top: 0;
  }

  #desktop-pricing tr th {
    position: relative;
  }
}
/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
  background: #fff url("../static/ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("../static/fonts/slick.eot");
  src: url("../static/fonts/slick.eot?#iefix") format('embedded-opentype'), url("../static/fonts/slick.woff") format('woff'), url("../static/fonts/slick.ttf") format('truetype'), url("../static/fonts/slick.svg#slick") format('svg');
}

/* Arrows */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}