@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=latin-ext');
$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Open Sans', sans-serif;
$spec_font: 'Source Sans Pro', sans-serif;
$lightblue: #50e3b3;
$darkblue: #24345c;
$white: #ffffff;
$ligthpeach: #ffcd81;
$peach: #ffb74a;
$tablelightblue: #50e3c2;
$darktextcolor: #414042;
$lighttextcolor: #ffffff;
$sliderheightmob: calc(100vh - 50px);
$sliderheighttablet: 70vh;
$sliderheightdesk: 780px;
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  #indexpage #header {
    display: flex;
    position: fixed;
    top: 25px;
    left: unset;
    width: 100vw;
    z-index: 99;
    padding: 8px 20px 8px 35px;
    height: auto;
    background: transparent;
    max-width: 1440px;
    margin: 0 auto;
    transition: all ease 0.3s;
    will-change: top;
}
  #pricing #header {
    display: flex;
    position: fixed;
    top: 0;
    left: unset;
    width: 100vw;
    z-index: 99;
    padding: 11px 20px 8px 15px;
    height: auto;
    background: $darkblue;
    max-width: 1440px;
    margin: 0 auto;
    transition: all ease 0.3s;
    will-change: top;
  }
  .perfect {
    z-index: 9999999;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    width: 1440px;
    margin: 0 auto;
  }
  #indexpage .perfect {
    background: url(../img/Homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2680px;
  }
  #pricing .perfect {
    background: url(../dist/img/Pricing_strana.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2120px;
  }
  #firstsection {
    margin-top: 0;
  }
  .gradientback {
    display: inline-block;
  }
  .nav {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    background: none;
    color: #ffffff;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    will-change: unset;
    transition: none;
    flex-direction: row;
    justify-content: space-between;
  }
  .navmenu {
    margin-top: unset;
    display: inline-block;
    width: auto;
    float: left;
    margin-top: unset;
    margin-left: 42px;
  }

  .navmenu {
    ul {
      display: inline-block;
      align-items: unset;
      justify-content: unset;
      flex-direction: unset;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      width: auto;
    }
    ul li a {
      color: white;
      text-decoration: none;
      padding: 0 !important;
      display: inline-block;
      width: 100%;
      font-size: 18px;
      font-weight: 100;
    }
    ul li:first-child a {
      padding-right: 22px !important;
    }
    ul li:nth-child(2) a {
      padding-right: 44px !important;
    }

  }
  .listyourp {
    margin: 0 !important;
    display: inline-block;
    margin-left: 29px !important;
  }
  .rightpanel {
    position: relative;
    width: max-content;
    top: unset;
    right: unset;
    left: unset;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    float: right;
    margin-right: 4px;
  }
  .listyourp button {
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 12px 20px 10px 25px;
    font-size: 18px;
    font-family: $primary_font;
    margin-top: -4px;
  }
  .logoholder {
    display: inline-block;
    width: 222px;
    height: max-content;
  }
  .login {
    display: flex;
    align-items: center;
    margin-right: 42px;
    cursor: pointer;
  }
  .loginiconholder {
    margin-top: 3px;
    margin-left: 7px;
  }
  .flagarrowholder {
    margin-bottom: 4px;
    margin-left: 4px;
  }
  .flagiconholder {
    margin-top: 1px;
  }
  #pricing {
    .nav {
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      background: none;
      color: #ffffff;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none;
      will-change: unset;
      transition: none;
      flex-direction: row;
      justify-content: space-between;
    }
    .navmenu {
      margin-top: unset;
      display: inline-block;
      width: auto;
      float: left;
      margin-top: unset;
      margin-left: 61px;
    }
    .navmenu {
      ul {
        display: inline-block;
        align-items: unset;
        justify-content: unset;
        flex-direction: unset;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        width: auto;
      }
      ul li a {
        color: white;
        text-decoration: none;
        padding: 0 !important;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        font-weight: 100;
      }
      ul li:first-child a {
        padding-right: 22px !important;
      }
      ul li:nth-child(2) a {
        padding-right: 44px !important;
      }

    }
    .listyourp {
      margin: 0 !important;
      display: inline-block;
      margin-left: 62px !important;
    }
    .rightpanel {
      position: relative;
      width: max-content;
      top: unset;
      right: unset;
      left: unset;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      float: right;
      margin-right: 4px;
    }
    .listyourp button {
      -webkit-appearance: none;
      background: none;
      border: 2px solid #50e3b3;
      border-radius: 30px;
      color: white;
      padding: 12px 20px 10px 25px;
      font-size: 18px;
      font-family: $primary_font;
      margin-top: -4px;
    }
    .favorite {
      display: flex;
      align-items: center;
      margin-right: 25px;
    }
    .favorite .loginiconholder {
      margin-top: 3px;
      margin-right: 10px;
      margin-left: unset;
    }
    .useraccount {
      display: flex;
      align-items: center;
      margin-right: 37px;
    }
    .logoholder {
      display: inline-block;
      width: 222px;
      height: max-content;
    }
    .login {
      display: flex;
      align-items: center;
      margin-right: 42px;
    }
    .loginiconholder {
      margin-top: 3px;
      margin-left: 7px;
    }
    .flagarrowholder {
      margin-bottom: 4px;
      margin-left: 4px;
    }
    .flagiconholder {
      margin-top: 1px;
    }
  }
  .sliderholder {
    height: $sliderheightdesk;
  }
  .sliderphoto {
    height: $sliderheightdesk;
    background-position: unset;
    background-position-x: center;
  }
  .mainheading h1 {
    color: $white;
    font-size: 48px;
    font-weight: 100;
    margin-top: 278px;
    margin-bottom: 113px;
    line-height: 1.2;
    margin-left: -16px;
    letter-spacing: 0.5px;
  }
  .inputsholder {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    padding: 3px 0;
    margin-bottom: 0px;
  }
  .blockdiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #locselect {
    background: url(../static/svg/pin.svg) white;
    background-position-y: center;
    background-position-x: calc(100% - 22px);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 438px;
    display: inline-block;
    float: left;
    margin-right: 7px;
    margin-left: 2px;
    padding: 4px 21px 2px 19px;
  }
  .divtypes {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 7px;
  }
  #propertyselect {
    background: url(../static/svg/arrow.svg) white;
    background-position-y: center;
    background-position-x: calc(100% - 12px);
    background-size: 15px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 218px;
    padding: 6px 12px 2px !important;
  }
  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary_font;
    font-weight: 400;
    font-size: 18px;
    -webkit-appearance: none;
    border: none;
    background: $lightblue;
    border-radius: 4px;
    padding: 11px 18px 5px 0px;
    height: 56px;
    width: 175px;
    margin-bottom: 10px;
    color: $white;
    float: left;
  }
  .search-icon {
    display: inline-block;
    height: 26px;
    width: 23px;
    background: url(../static/svg/search.svg);
    background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top: -2px;
  }
  .headinginputcontent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mainheading {
    text-align: center;
    display: inline-block;
  }
  #bannerone {
    display: inline-block;
    width: 728px;
    height: 90px;
    margin-top: 55px;
    margin-bottom: 0px;
  }
  .slick-dots {
    bottom: -27px !important;
  }
  .slick-dots li button:before {
    font-size: 10px !important;
  }
  .slick-next {
    right: 33px !important;
    background: url(../static/svg/white-arrow.svg) !important;
    background-repeat: no-repeat !important;
    transform: rotate(-90deg) !important;
    background-size: contain !important;
    background-position: center !important;
  }
  .slick-next:before {
    content: '' !important;
  }
  .slick-prev {
    left: 37px !important;
    background: url(../static/svg/white-arrow.svg) !important;
    background-repeat: no-repeat !important;
    transform: rotate(90deg) !important;
    background-size: contain !important;
    background-position: center !important;
  }
  .slick-prev:before {
    content: '' !important;
  }
  .slick-prev, .slick-next {
    font-size: 0 !important;
    line-height: 0 !important;
    position: absolute !important;
    top: calc(50% + 27px) !important;
    display: block !important;
    width: 23px !important;
    height: 25px !important;
  }
  .secondcontentdiv {
    display: inline-block;
    z-index: 3;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: 188px 295px 188px 291px;
    text-align: center;
  }
  .secondcontentdiv h2 {
    font-size: 40px;
    font-weight: 100;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
    letter-spacing: -0.7px;
    line-height: 1.15;
  }
  .secondcontentdiv p {
    font-weight: 100 !important;
    font-size: 21px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.65px;
  }
  .secondcontentdiv .lightgreen-btn {
    margin-top: -10px;
    max-width: 290px;
    float: left;
  }
  #secondsection {
    background-position-x: center;
    background-position-y: -67px;
  }
  #thirdsection {
    padding: 90px 125px;
  }
  #bannertwo {
    width: 970px;
    height: 250px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }
  .thirdsectiondiv {
    margin-top: 65px;
    display: flex;
  }
  .thirdsectiondiv .textdiv {
    text-align: left;
    width: 50%;
  }
  .thirdsectiondiv h2 {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 23px;
  }
  .thirdsectiondiv h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 25px;
  }
  .thirdsectiondiv p {
    font-size: 18px;
    font-family: $secondary_font;
    font-weight: 100;
    line-height: 1.6;
    text-align: left;
  }
  .thirdsectiondiv button {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 30px;
    max-width: 290px;
    text-indent: -7px;
  }
  .photodiv {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    margin-left: 0px;
    position: absolute;
    right: 20px;
    padding: 56px 70px;
  }
  .footercontentone, .footercontenttwo, .footercontentthree, .footercontentfour, .footercontentfive, .footercontentsix, .footercontentseven {
    display: inline-block;
    float: left;
    padding: 0px 50px 5px 30px;
  }
  #footer {
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 30px 40px;
    padding-bottom: 0;
    position: relative;
  }
  #footer ul li a {
    padding: 8px 0;
  }
  .footercontentone {
    padding-right: 40px !important;
    padding-left: 50px !important;
    padding-bottom: 20px !important;
    border-right: 1px solid #4b5879 !important;
    border-bottom: none;
  }
  .footercontenttwo {
    border-right: 1px solid #4b5879;
    border-bottom: none;
    padding-right: 120px !important;
    padding-bottom: 55px !important;
  }
  .footercontentthree {
    padding-top: 10px;
    padding-left: 48px;
    border-right: 1px solid #4b5879;
    border-bottom: none;
    padding-right: 42px;
    padding-bottom: 20px;
  }
  .footercontentthree h3 {
      margin-bottom: 4px;
  }
  .footercontentthree .footeraddress {
      margin-bottom: 15px;
  }
  .footercontentthree p {
    letter-spacing: -0.5px;
  }
  .footercontentfour {
    padding-top: 20px !important;
    padding-left: 60px !important;
  }
  .footercontentfour p {
      display: block;;
      margin: 0;
      width: 170px;
      font-size: 12px;
      margin-bottom: 22px;
  }
  #footer button {
    font-family: $primary_font;
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 8px 21px;
    font-size: 14px;
    margin-left: -12px;
  }
  .footercontentfive {
    display: flex !important;
    float: right !important;
    padding: 10px 65px;
  }
  .footercontentsix {
    border-bottom: none;
    border-top: 1px solid #4b5879;
    border-bottom: none;
    width: calc(100% + 70px);
    padding-top: 15px;
    padding-left: 85px;
    margin-top: 35px;
    margin-left: -35px;
  }
  .footercontentsix p {
      display: inline-block;
  }
  .footercontentsix p:first-child {
    margin-right: 50px;
  }
  .footercontentseven {
    position: absolute;
    bottom: 10px;
    right: 62px;
    letter-spacing: 1px;
  }
  #firstpricesection {
    margin: 50px auto 48px;
    padding-top: 64px !important;
  }
  .chooseyourplan {
    width: calc(100% - 330px);
    border-bottom: 2px solid;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 143px;
    overflow: hidden;
    margin-bottom: 45px;
  }
  .chooseheading {
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    display: inline-block;
    font-size: 38px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    letter-spacing: -1px;
  }
  .chooseanimate {
    text-align: center;
    border-bottom: none;
    margin-top: 30px;
    display: inline-block;
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0px;

  }

  #firstpricesection p {
    text-align: center;
    font-size: 16px;
    font-family: $secondary_font;
    font-weight: 100;
    line-height: 1.6;
    max-width: 650px;
    margin: 0 auto;
  }
  #secondpricesection {
    padding: 0 60px !important;
    margin-bottom: 100px;
  }
  #desktop-pricing {
    tr th {
      width: 25%;
    }
    .colorheadgreen {
      background: $lightblue;
      color: $white;
      padding-bottom: 22px;
    }
    .colorheadlightp {
      background: $ligthpeach;
      color: $white;
      padding-bottom: 22px;
    }
    .colorheadpeach {
      background: $peach;
      color: $white;
      padding-bottom: 22px;
    }
    .colorheadwhite {
      padding-bottom: 22px;
    }
    .greenprop, .lightpeachprop, .peachprop {
      display: inline-block;
      width: 100%;
      padding: 20px 0px 0;
      margin-bottom: 0px;
      color: white;
      text-align: center;
      line-height: 1.6;
      font-size: 20px;
    }
    .infoiconholder {
      display: inline-block;
      width: 22px;
      margin-right: -80px;
      float: left;oat: left;
      margin-left: 20px;
    }
    .propunit {
      font-size: 20px;
      margin-bottom: 22px;
    }
    .oldprice {
      font-size: 22px;
      color: #474648;
      text-decoration: line-through;
      font-weight: 500;
      margin-left: 18px;
    }
    .newprice {
      font-size: 44px;
      font-weight: 700;
      line-height: 1;
      margin-left: 10px;
      color: white;
    }
    .whiteprop {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
    }
    .switchbutton {
      margin-bottom: 30px;
      margin-top: 10px;
      margin-left: unset;
    }
    .whiteprop p {
      display: inline-block;
      font-weight: 100;
      font-size: 19px;
      transition: all ease 0.5s;
    }
    .savethirty {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0px;
      color: #ffcd81;
    }
    .noborderrow {
        outline: none !important;
    }
    .noborderrow td {
      border: none !important;
      padding: 26px;
      padding-right: 30px;
      padding-left: 30px;
    }
    .noborderrow td button {
      padding: 0;
    }
    tr {
      outline: 1px solid #d5d5d5;
    }
    tr td{
      border-right: 0.5px solid #d5d5d5;
      position: relative;
      padding: 34px 36px;
      line-height: 20px;
      padding-top: 20px;
    }
    tr td:last-child{
      border: none;
    }
    .greyinfoicon {
      display: inline-block;
      position: absolute;
      left: -10px;
      top: 59%;
      transform: translateY(-50%);
    }
    .greenpricebuy, .lightpeachpricebuy, .peachpricebuy {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 40px;
      margin-top: 20px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .greenpricebuy {
      color: $lightblue;
    }
    .lightpeachpricebuy {
      color: $ligthpeach;
    }
    .peachpricebuy {
      color: $peach;
    }
    .buybtnholder button {
      padding: 0 !important;
    }
  }
  #thirdpricesection {
    padding: 7px 180px 150px !important;
  }
  .lastdiv {
    display: flex;
  }
  .seehowitw {
    display: inline-block;
    width: 70%;
  }
  .watchlink {
    display: flex;
    border: 1px solid #6d7893;
    border-radius: 320px;
    padding: 12px 30px;
    align-items: center;
    width: max-content;
    margin: 103px 25px 60px auto;
    position: relative;
    cursor: pointer;
  }
  .watchlink:hover {
    background: $white;
  }
  #thirdpricesection h3 {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  #thirdpricesection p {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 100;
    font-family: $secondary_font;
  }
  .headinginputcontent {
    display: none;
  }
}
@media(min-width: 992px) {
  #mobile-pricing {
    display: none;
  }
  #desktop-pricing {
    display: table;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px){
  #pricing .logoholder {
    width: 190px;
  }
  #pricing .navmenu {
    margin-left: 40px;
  }
  #pricing .navmenu ul li a {
    font-size: 16px;
  }
  #pricing .listyourp {
    position: absolute;
    top: 75px;
    right: 0;
  }
  #pricing .listyourp button {
    background: $lightblue;
  }

  #indexpage .logoholder {
    width: 190px;
  }
  #indexpage .navmenu {
    margin-left: 40px;
  }
  #indexpage .navmenu ul li a {
    font-size: 16px;
  }
  #indexpage .listyourp {
    position: absolute;
    top: 75px;
    right: 0;
  }
  #indexpage .listyourp button {
    background: $lightblue;
  }




  .chooseheading {
    font-size: 28px;
  }
  .chooseyourplan {
    width: calc(100% - 150px);
  }
  .lastdiv {
    flex-direction: column;
  }
  .seehowitw {
    width: 100%;
  }
  .watchlink {
      margin: 30px auto 0;
  }
  #desktop-pricing .greenprop, #desktop-pricing .lightpeachprop, #desktop-pricing .peachprop {
    font-size: 17px;
  }
  #desktop-pricing .propunit {
    font-size: 17px;
  }

}
@media (min-width: 768px) and (max-width: 1350px) {
  #desktop-pricing .infoiconholder {
    display: inline-block;
    width: 140px;
    position: absolute;
    opacity: 0.25;
    left: 0;
    margin: 0;
    top: 0;
  }
  #desktop-pricing tr th {
    position: relative;
  }
}
