@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=latin-ext');
$primary_font: 'Montserrat', sans-serif;
$secondary_font: 'Open Sans', sans-serif;
$spec_font: 'Source Sans Pro', sans-serif;
$lightblue: #50e3b3;
$darkblue: #24345c;
$white: #ffffff;
$ligthpeach: #ffcd81;
$peach: #ffb74a;
$tablelightblue: #50e3c2;
$darktextcolor: #414042;
$lighttextcolor: #ffffff;
$sliderheightmob: calc(100vh - 50px);
$sliderheighttablet: 70vh;
$sliderheightdesk: 780px;

    // Global styles

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $primary_font;
  max-width: 1440px;
  background: #fff;
}

img {
  width: 100%;
}

section {
  position: relative;
}

.hidden {
  display: none !important;
}

.overflowhidden {
  overflow: hidden;
}

.bolded {
  font-weight: 700 !important;
}

button:focus {
  outline: none !important;
}

button:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

    // Layout


#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  padding: 7px 20px 8px 13px;
  height: 50px;
  background: $darkblue;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: unset !important;
  right: unset !important;
  margin: 0 !important;
  border: 5px solid #f8f8f8;
  border-radius: 50%;
  border-top: 5px solid #50e3b3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loaderwrap {
  display: inline-block;
  position: fixed;
  z-index: 999999999999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #24345c;
  background-image: url("../static/svg/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 44%;
}

#indexpage #header.darkblue {
  top: 0;
  background: $darkblue;
}

.chooseanimate {
  transform: translate3d(0, 100%, 0);
  transition: all ease 0.6s !important;
}

.chooseanimate.slideup {
  transform: translate3d(0, 0, 0);
}

.headinginputcontent {
  display: none;
}

.logoholder {
  display: inline-block;
  width: 145px;
  height: 35px;
}

.hamburger {
  display: inline-block;
  width: 23px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 4px;
}

.hamburger.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 4px;
  bottom: -2px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 100vw;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background: $darkblue;
  color: $white;
  flex-direction: column;
  -webkit-transform: translate3d(100vw, 0, 0);
  -moz-transform: translate3d(100vw, 0, 0);
  -o-transform: translate3d(100vw, 0, 0);
  transform: translate3d(100vw, 0, 0);
  will-change: transform;
  transition: all ease 0.5s;
}

.nav.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navmenu {
  display: inline-block;
  margin-top: -160px;
}

.navmenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li a:hover {
  color: $lightblue !important;
}

.login:hover {
  color: $lightblue !important;
}

.navmenu li {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.navmenu ul li a {
  color: white;
  text-decoration: none;
  padding: 20px 0 !important;
  display: inline-block;
  width: 100%;
  font-size: 22px;
}

.listyourp {
  margin-top: 60px;
  margin-bottom: -100px;
}

.listyourp {
  button {
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 13px 39px;
    font-size: 18px;
  }
}

.rightpanel {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.favorite {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}

.favorite {
  .loginiconholder {
    margin-top: 4px;
    margin-right: 15px;
    margin-left: unset;
  }
}

.useraccount {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.loginiconholder {
  margin-top: 4px;
  margin-left: 15px;
  cursor: pointer;
}

.lingua {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.flagarrowholder {
  margin-bottom: 4px;
  margin-left: 15px;
}

.lingua {
  ul {
    display: none;
    padding: 0;
    list-style: none;
    background: white;
    position: absolute;
    top: 50px;
    color: #333;
    margin: 0;
    border-radius: 4px;
    right: 5px;
  }

  ul li {
    display: flex;
    padding: 10px 15px 10px 10px;
  }

  ul li:hover {
    background: #f6f6f6;
  }

  ul .flagiconholder {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100px;
    height: 30px;
  }

  ul .flagiconholder img {
    margin-right: 10px;
    width: 30px;
  }
}

#firstsection {
  margin-top: 50px;
  position: relative;
}

.sliderphoto {
  display: inline-block;
  width: 100%;
  height: $sliderheightmob;
  background: url("../dist/img/slider_photo_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sliderholder {
  display: inline-block;
  width: 100%;
  height: $sliderheightmob;
}

.gradientback {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.67843) 100%);
  opacity: 0.36;
}

.headinginputcontent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.mainheading {
  text-align: center;
}

.mainheading h1 {
  color: $white;
  font-size: 22px;
  font-weight: 100;
  margin-top: 80px;
  margin-bottom: 70px;
}

.inputsholder {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3px 25px;
}

.inputsholder {
  input {
    font-family: $spec_font;
    font-size: 16px;
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    padding: 4px 60px 4px 10px;
    height: 56px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  input:focus {
    outline: none !important;
  }
}

#locselect {
  background: url("../static/svg/pin.svg") white;
  background-position-y: center;
  background-position-x: calc(100% - 20px);
  background-size: 18px;
  background-repeat: no-repeat;
}

#propertyselect {
  background: url("../static/svg/arrow.svg") white;
  background-position-y: center;
  background-position-x: calc(100% - 22px);
  background-size: 15px;
  background-repeat: no-repeat;
}

.divtypes {
  position: relative;
}

.divtypes {
  ul {
    z-index: 2;
    display: inline-block;
    padding: 0;
    list-style: none;
    background: white;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 43px;
    left: 0;
    border-radius: 4px;
    font-family: 'source sans pro';
  }

  li {
    padding: 15px;
    cursor: pointer;
  }

  li:hover {
    background: $lightblue;
    color: $white;
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $primary_font;
  font-weight: 400;
  font-size: 18px;
  -webkit-appearance: none;
  border: none;
  background: #50e3b3;
  border-radius: 4px;
  padding: 4px 10px;
  height: 56px;
  width: 100%;
  margin-bottom: 10px;
  color: $white;
}

.search-icon {
  display: inline-block;
  height: 26px;
  width: 23px;
  background: url("../static/svg/search.svg");
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  margin-right: 15px;
}

#bannerone {
  display: inline-block;
  width: 300px;
  height: 50px;
}

#secondsection {
  min-height: 500px;
  background: url("../dist/img/blue_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bluescreen {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(24, 37, 69, .89);
}

.secondcontentdiv {
  display: inline-block;
  z-index: 3;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  padding: 80px 25px;
  text-align: center;
}

.secondcontentdiv {
  h2 {
    font-size: 18px;
    font-weight: 100;
    width: 100%;
    text-align: left;
  }

  p {
    font-weight: 100 !important;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
  }

  .lightgreen-btn {
    display: inline-block;
    font-family: $primary_font;
    font-weight: 400;
    font-size: 16px;
    -webkit-appearance: none;
    border: none;
    background: #50e3b3;
    border-radius: 30px;
    padding: 16px 10px;
    height: 56px;
    width: 100%;
    margin-bottom: 10px;
    color: $white;
    margin-top: 40px;
    max-width: 300px;
  }
}

#thirdsection {
  padding: 70px 25px;
}

#bannertwo {
  width: 300px;
  height: 250px;
  background: rgba(0,0,0,.2);
  margin: 0 auto;
}

.thirdsectiondiv {
  margin-top: 75px;
}

.thirdsectiondiv {
  .textdiv {
    text-align: center;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  p {
    font-size: 14px;
    font-family: $secondary_font;
    font-weight: 100;
    line-height: 1.6;
    text-align: left;
  }

  button {
    display: inline-block;
    font-family: $primary_font;
    font-weight: 400;
    font-size: 16px;
    -webkit-appearance: none;
    border: none;
    background: $darkblue;
    border-radius: 30px;
    padding: 18px 10px;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    color: $white;
    margin-top: 40px;
    margin-bottom: 70px;
    max-width: 300px;
  }
}

#footer {
  background: $darkblue;
  color: $white;
  padding: 0;
}

#footer {
  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 14px;
  }

  button {
    font-family: $primary_font;
    -webkit-appearance: none;
    background: none;
    border: 2px solid #50e3b3;
    border-radius: 30px;
    color: white;
    padding: 8px 21px;
    font-size: 14px;
  }
}

.footercontentone {
  padding: 30px 35px 0;
}

.footercontenttwo {
  padding: 0 35px 40px;
  border-bottom: 1px solid #4b5879;
}

.footercontentthree {
  padding: 40px 35px 30px;
  border-bottom: 1px solid #4b5879;
}

.footercontentthree {
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
  }

  .loginiconholder {
    width: 14px;
    display: inline-block;
    margin: 0 10px 0 0;
    float: left;
  }

  .footeraddress {
    font-family: $secondary_font;
    font-size: 14px;
    margin-bottom: 20px;
  }

  p {
    font-family: $secondary_font;
    font-size: 14px;
    margin: 0;
  }

  p:first-child {
    margin-bottom: 10px;
  }
}

.footercontentfour {
  padding: 30px 0;
}

.footercontentfour {
  p {
    display: none;
    margin: 0;
  }
}

.footercontentfive {
  display: flex;
}

.socialiconholder {
  margin-right: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.socialiconholder:hover path {
  fill: $lightblue;
}

.socialiconholder:hover circle {
  stroke: $lightblue;
}

.footercontentsix {
  padding: 30px 35px;
  border-bottom: 1px solid #4b5879;
}

.footercontentsix {
  p {
    font-family: $primary_font;
    font-size: 14px;
    margin: 0;
  }

  p:first-child {
    margin-bottom: 10px;
  }
}

.footercontentseven {
  padding: 15px 35px 20px;
}

.footercontentseven {
  p {
    font-family: $primary_font;
    font-size: 12px;
    margin: 0;
  }
}

#desktop-pricing {
  display: none;
}
// #pricing page

#pricing {
  background: #f6f6f6;
}

#firstpricesection {
  margin: 50px auto;
  padding-top: 50px !important;
}

#pricing {
  section {
    padding: 0 15px;
  }
}

.chooseyourplan {
  display: inline-block;
}

.chooseheading {
  text-align: center;
  font-size: 21px;
  font-weight: 100;
}

.chooseanimate {
  text-align: center;
  border-bottom: 1px solid;
  margin-top: 30px;
}

.chooseanimate img {
  width: 90%;
  margin: 0 auto -5px;
}

#firstpricesection {
  p {
    text-align: center;
    font-size: 14px;
    font-family: $secondary_font;
    font-weight: 100;
    line-height: 1.6;
  }
}

#secondpricesection {
  padding: 0 30px !important;
}

#thirdpricesection {
  padding: 30px;
}

#thirdpricesection {
  h3 {
    font-size: 18px;
    font-weight: 400;
  }

  p {
    line-height: 1.6;
    font-size: 14px;
    font-weight: 100;
  }
}

.whiteprop {
  display: flex;
  width: 100%;
  align-items: center;
}

.whiteprop p {
  display: inline-block;
}

.switchbutton {
  margin-left: auto;
}

.savethirty {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  color: $ligthpeach;
}

.greyborderdivwrap {
  display: inline-block;
  width: 100%;
  border: 1px solid #d5d5d5;
}

.greyborderdiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 0.5px solid #d5d5d5;
  position: relative;
}

.greyborderdiv:last-child {
  border-bottom: none !important;
}

.greencheck,
.greyex {
  display: inline-block;
  height: 20px;
}

.greenprop,
.lightpeachprop,
.peachprop {
  display: inline-block;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 3px;
  color: white;
  text-align: center;
  line-height: 1.6;
}

.greenprop {
  background: $lightblue;
}

.lightpeachprop {
  background: $ligthpeach;
}

.peachprop {
  background: $peach;
}

.propheading {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.infoiconholder {
  display: inline-block;
  width: 17px;
  margin-right: 5px;
}

.propunit {
  font-size: 15px;
  margin-bottom: 10px;
}

.oldprice {
  font-size: 16px;
  color: #474648;
  text-decoration: line-through;
  font-weight: 500;
}

.newprice {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.buybtnholder {
  display: inline-block;
  width: 100%;
}

.buybtnholder {
  button {
    display: inline-block;
    font-family: $primary_font;
    font-weight: 700;
    font-size: 14px;
    -webkit-appearance: none;
    border: none;
    border-radius: 30px;
    padding: 18px 10px;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    color: $white;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
  }
}

.greenprop-btn {
  background: $lightblue;
}

.lightpeachprop-btn {
  background: $ligthpeach;
}

.peachprop-btn {
  background: $peach;
}

.greenpricemob,
.lightpeachpricemob,
.peachpricemob {
  margin-bottom: 30px;
}

.watchlink {
  display: flex;
  border: 1px solid #6d7893;
  border-radius: 320px;
  padding: 12px 30px;
  align-items: center;
  width: max-content;
  margin: 30px auto 40px;
  position: relative;
}

.playholder {
  display: flex;
  height: 40px;
  width: 40px;
  border: 1px solid #6d7893;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
  position: absolute;
  left: 15px;
}

.playholder img {
  width: 100%;
  height: 100%;
  margin-left: 3px;
}

.watchourvid {
  display: inline-block;
  font-size: 16px;
  font-family: $secondary_font;
  font-weight: 400;
  color: #6d7893;
  margin-left: 40px;
}

.navmenu ul li a::after {
  content: '';
  display: none;
  width: 18px !important;
  height: 25px !important;
  right: 33px !important;
  background: url("../static/svg/green-arrow.svg") !important;
  background-repeat: no-repeat !important;
  transform: rotate(-90deg) !important;
  background-size: contain !important;
  background-position: center !important;
}

    // Specific styles

// Stilizacija slajdera

.slick-dots li button:before {
  color: $white !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: $lightblue !important;
}

.slick-dots {
  position: relative !important;
  bottom: 0 !important;
  display: inline-block !important;
  width: 100% !important;
  padding: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  text-align: center !important;
  margin-block-start: unset !important;
  margin-block-end: unset !important;
  padding-inline-start: unset !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}
// Stilizacija slajdera END
// Stilizacija switch buttona

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderck {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderck:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #c2f5e5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid $lightblue;
}

input:checked + .sliderck {
  background-color: $white;
}

input:focus + .sliderck {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderck:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.sliderck.round {
  border-radius: 34px;
  border: 1px solid #b5e4d5;
}

.sliderck.round:before {
  border-radius: 50%;
}

.perfect {
  display: none;
}
// Stilizacija switch buttona END

    // Helper classes

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
